<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Atualizar Restaurante</h5>
                </div>
                <div class="card-body">
                    <form action="/restauranteUpdate" method="post">
                        <input type="hidden" name="id" value="{{restaurante.id}}">
                        <div class="mb-3">
                            <label for="nomeRestauranteUpdate" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="nomeRestauranteUpdate" name="nome" value="{{restaurante.nome}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="categoriaRestauranteUpdate" class="form-label">Categoria:</label>
                            <input type="text" class="form-control" id="categoriaRestauranteUpdate" name="categoria" value="{{restaurante.categoria}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="enderecoRestauranteUpdate" class="form-label">Endereço:</label>
                            <input type="text" class="form-control" id="enderecoRestauranteUpdate" name="endereco" value="{{restaurante.endereco}}" required>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>