<form action="/restauranteUpdate" method="post">
    <input type="hidden" name="id" value="{{restaurante.id}}">
    Nome: <input type="text" name="nome" value="{{restaurante.nome}}"><br><br>
    Categoria: <input type="text" name="categoria" value="{{restaurante.categoria}}"><br><br>
    Endereço: <input type="text" name="endereco" value="{{restaurante.endereco}}"><br><br>
    <input type="submit" value="Atualizar">
</form>
