<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Cadastrar Novo Restaurante</h5>
                </div>
                <div class="card-body">
                    <form action="/restauranteCreate" method="post">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome do Restaurante:</label>
                            <input type="text" class="form-control" id="nome" name="nome" required>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>