<form action="/restauranteUpdate" method="post">
    <input type="hidden" name="id" value="{{restaurante.id}}">
    Nome: <input type="text" name="nome" value="{{restaurante.nome}}"><br><br>
    <input type="submit" value="Atualizar">
</form>
