<!DOCTYPE html>​

<html>

<head>​
    <title>Sistema de Controle de Receitas</title>​
</head>​

<body>​
    <center> ​
        <h1> Sistema de Controle de Receitas </h1>​
        <a href="/usuarioCreate"> <button> Cadastrar Usuário</button> </a> ​
        <a href="/usuarioList"> <button> Listar Usuários</button> </a>​
        <a href="/categoriaCreate"> <button> Cadastrar Categorias</button> </a> ​
        <a href="/categoriaList"> <button> Listar Categorias</button> </a>​
        <a href="/receitaCreate"> <button> Cadastrar Receitas</button> </a> ​
        <a href="/receitaList"> <button> Listar Receitas</button> </a>​
        <a href="/comentarioCreate"> <button> Cadastrar Comentário</button> </a> ​
        <a href="/comentarioList"> <button> Listar Comentários</button> </a>
        <a href="/logout"> <button> Logout</button> </a>​
        <br> <br>​
        {{{body}}}​
    </center>​
</body>​

</html>