
OneBitCode/Exercícios/React/profile card/.eslintrc.cjs
OneBitCode/Exercícios/React/profile card/index.html
OneBitCode/Exercícios/React/profile card/package-lock.json
OneBitCode/Exercícios/React/profile card/package.json
OneBitCode/Exercícios/React/profile card/public/vite.svg
OneBitCode/Exercícios/React/profile card/README.md
OneBitCode/Exercícios/React/profile card/src/App.jsx
OneBitCode/Exercícios/React/profile card/src/assets/react.svg
OneBitCode/Exercícios/React/profile card/src/components/Profile/index.jsx
OneBitCode/Exercícios/React/profile card/src/components/Profile/styles.module.css
OneBitCode/Exercícios/React/profile card/src/index.css
OneBitCode/Exercícios/React/profile card/src/main.jsx
OneBitCode/Exercícios/React/profile card/vite.config.js
