<form action="/usuarioEnderecoCreate" method="post">
    Usuário ID: <input type="number" name="id_usuario"><br><br>
    Endereço ID: <input type="number" name="id_endereco"><br><br>
    <input type="submit" value="Vincular">
</form>
