<table border="1px">
    <tr>
        <td>Usuário ID</td>
        <td>Endereço ID</td>
        <td>Editar</td>
        <td>Deletar</td>
    </tr>
    {{#each usuarioEnderecos}}
    <tr>
        <td>{{id_usuario}}</td>
        <td>{{id_endereco}}</td>
        <td><a href="/usuarioEnderecoUpdate/{{id}}">Editar</a></td>
        <td><a href="/usuarioEnderecoDelete/{{id}}">Deletar</a></td>
    </tr>
    {{/each}}
</table>
