<form action="/usuarioEnderecoUpdate" method="post">
    <input type="hidden" name="id" value="{{usuarioEndereco.id}}">
    Usuário ID: <input type="number" name="id_usuario" value="{{usuarioEndereco.id_usuario}}"><br><br>
    Endereço ID: <input type="number" name="id_endereco" value="{{usuarioEndereco.id_endereco}}"><br><br>
    <input type="submit" value="Atualizar">
</form>