<!DOCTYPE html>
<html>

<head>
    <title>Sistema de Restaurantes</title>
</head>

<body>
    <center>
        <h1>Sistema de Restaurantes</h1>

        <!-- Menu de Navegação -->
        <a href="/usuarioCreate"><button>Cadastrar Usuário</button></a>
        <a href="/usuarioList"><button>Listar Usuários</button></a>

        <a href="/restauranteCreate"><button>Cadastrar Restaurante</button></a>
        <a href="/restauranteList"><button>Listar Restaurantes</button></a>

        <a href="/pedidoCreate"><button>Fazer Pedido</button></a>
        <a href="/pedidoList"><button>Listar Pedidos</button></a>

        <a href="/enderecosCreate"><button>Cadastrar Endereço</button></a>
        <a href="/enderecosList"><button>Listar Endereços</button></a>

        <a href="/favoritosCreate"><button>Adicionar Favorito</button></a>
        <a href="/favoritosList"><button>Listar Favoritos</button></a>

        <a href="/usuarioEnderecoCreate"><button>Vincular Endereço</button></a>
        <a href="/usuarioEnderecoList"><button>Listar Usuário-Endereço</button></a>

        <br><br>

        {{{body}}}
    </center>
</body>

</html>