<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Restaurantes</title>
</head>
<body>
    <center>
        <h1>Sistema de Restaurantes</h1>
        <br><br>
        {{{body}}}
    </center>
</body>
</html>
