<form action="/categoriaUpdate" method="post">
    <input type="hidden" name="id" value={{categoria.id}}>
    Nome: <input type="text" name="nome" value="{{categoria.nome}}">
    <br> <br>
    <input type="submit" value="Editar">
</form>