<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Fazer Novo Pedido</h5>
                </div>
                <div class="card-body">
                    <form action="/pedidoCreate" method="post">
                        <div class="mb-3">
                            <label for="idUsuarioPedido" class="form-label">Usuário ID:</label>
                            <input type="number" class="form-control" id="idUsuarioPedido" name="id_usuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="idRestaurantePedido" class="form-label">Restaurante ID:</label>
                            <input type="number" class="form-control" id="idRestaurantePedido" name="id_restaurante" required>
                        </div>
                        <div class="mb-3">
                            <label for="dataPedido" class="form-label">Data:</label>
                            <input type="date" class="form-control" id="dataPedido" name="data" required>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>