<form action="/pedidoCreate" method="post">
    Usuário ID: <input type="number" name="id_usuario"><br><br>
    Restaurante ID: <input type="number" name="id_restaurante"><br><br>
    Data: <input type="date" name="data"><br><br>
    <input type="submit" value="Cadastrar">
</form>
