body {
  font-family: sans-serif;
}

.gameBoard {
  background-color: rgb(31, 31, 31);
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 12rem);
  grid-template-rows: repeat(3, 12rem);
  max-width: 37rem;
  border-radius: 50px;
  padding: 1px;
}

.square {
  width: 100%;
  height: 100%;
  background-color: rgb(180, 180, 180);
  text-align: center;
  display: grid;
  place-content: center;
  font-size: 9rem;
  border-radius: 50px;
  cursor: pointer;
}

.win {
  background-color: green;
}
