<form action="/enderecosCreate" method="post">
    CEP: <input type="text" name="cep" required><br><br>
    Número: <input type="text" name="numero" required><br><br>
    Complemento: <input type="text" name="complemento" required><br><br>
    <input type="submit" value="Cadastrar">
</form>
