* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  height: 1000vh;
}

main {
  min-width: 100vw;
  min-height: 100vh;
}

header {
  height: 15vh;
  display: grid;
  place-content: center;
  background-color: #373737;
  position: fixed;
  width: 100vw;
}

.navTitulo {
  font-size: 7vh;
  color: white;
}

.links {
  position: absolute;
  right: 2px;
  top: 5.5vh;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 3vh;
  margin-right: 1vw;
}
