<form action="/usuarioRestauranteCreate" method="post">
    Usuário ID: <input type="number" name="usuarioId"><br><br>
    Restaurante ID: <input type="number" name="restauranteId"><br><br>
    <input type="submit" value="Vincular">
</form>
