<form action="/usuarioRestauranteUpdate" method="post">
    <input type="hidden" name="id" value="{{usuarioRestaurante.id}}">
    Usuário ID: <input type="number" name="id_usuario" value="{{usuarioRestaurante.id_usuario}}"><br><br>
    Restaurante ID: <input type="number" name="id_restaurante" value="{{usuarioRestaurante.id_restaurante}}"><br><br>
    <input type="submit" value="Atualizar">
</form>