<form action="/usuarioCreate" method="post">
    Nome: <input type="text" name="nome">
    <br><br>
    Email: <input type="email" name="email">
    <br><br>
    Nascimento: <input type="date" name="nascimento">
    <br><br>
    Senha: <input type="password" name="senha">
    <br><br>
    Perfil:
    <select name="perfil">
      <option value="admin">Administrador</option>
      <option value="dono">Dono de Restaurante</option>
      <option value="cliente">Cliente</option>
    </select>
    <br><br>
    <input type="submit" value="Cadastrar">
</form>
