:root {
  --branco: #fff;
  --azul-claro: #dfe3e5;
  --vermelho-forte: #b72e2e;
  --cinza-escuro: #4f4c4c;
  --cinza-claro: #f7f4f4;
  --cinza-medio: #d9d9d9;

  --fonte-link: #0084ff;
  --fonte-cinza: #666;
  --borda-cabecalho-mobile: #103d4a;
  --bg-rodape: #333;
  --bg-chamada-mobile: #00161c;

  --planos-cartao-start: #56ccf2;
  --planos-cartao-ultra: #b04cd9;
  --planos-cartao-mega: #e33b3b;

  --montserrat: "Montserrat", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

.botao {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border: 1px solid var(--branco);
  border-radius: 5px;
}

.rodape {
  background: url(bg.jpg);
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.rodape1 {
  margin-top: 1em;
  flex-direction: column;
  text-align: center;
  margin-right: 5vw;
}

.rodape2 {
  flex-direction: column;
  text-align: center;
  margin-left: 5vw;
}

.logo_footer {
  width: 6vw;
  padding: 2%;
}

.rodape_link,
.rodape p {
  font-style: var(--montserrat);
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

.rodape_link:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(0, 140, 255);
}
