.sobre {

    background: url(cul.jpg);
    background-size: 100%;
    justify-content: space-between;
    display: inline-block;
    width: 100%;

}

.sobre .container {

    padding-left: 0%;
    justify-content: space-around;

}

.imgMain {

    width: 33.3vw;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    margin-right: 1.75rem;
    float: left;
    margin-left: 1vw;
    margin-bottom: 2em;

}

.sobre h2 {

    text-align: end;
    font-weight: bold;
    font-size: 1.75em;
    margin-bottom: 1em;
    margin-right: 30vw;

}

.sobre p {

    display: block;
    text-align: center;
    margin-bottom: 2em;
    flex-wrap: wrap;
    font-family: var(--montserrat);
    font-weight: 700;
    margin-right: 1.75rem;
    font-size: 1.25em;

}

.sobre_logo {

    width: 10vw;
    float: right;
    margin-right: 27.5vw;
    margin-bottom: 1em;

}

.link_sobre {

    font-size: 1.2em;
    color: orange;

}

.link_sobre:hover {

    text-decoration: underline;

}

