* {
  margin: 0;
  padding: 0;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 20px 60px 20px 60px;
}

.logo-rock {
  max-width: 40px;
}

.logo-obc {
  max-width: 200px;
}

.navegacao {
  display: flex;
  column-gap: 10px;
  height: 100%;
}

.navitem {
  padding: 10px;
  border: 2px solid white;
  background-color: black;
  /*color: white;*/
  border-radius: 10px;
  font-size: 20px;
  transition: 0.4s;
}

.navitem:hover {
  border-color: #f04;
  cursor: pointer;
}

.container {
  height: 30vh;
  display: flex;
  justify-content: space-around;
}

.logo-rockka1 {
  left: 25px;
}

.logo-rockka2 {
  right: 25px;
}

.logo-rockka {
  width: calc(100% / 4);
  transition: 0.4s;
  position: fixed;
}

.logo-rockka:hover {
  cursor: pointer;
  width: calc(100%);
  z-index: 1;
}
