<form action="/favoritosUpdate" method="post">
    <input type="hidden" name="id" value="{{favorito.id}}">
    Usuário ID: <input type="number" name="id_usuario" value="{{favorito.id_usuario}}"><br><br>
    Restaurante ID: <input type="number" name="id_restaurante" value="{{favorito.id_restaurante}}"><br><br>
    <input type="submit" value="Atualizar">
</form>